.contact-page {
    display: grid;
    place-items: center;
    padding: 5rem 0;
}

.contact-form {
    background: #fff;
    border-radius: 0.25rem;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    transition:  all 0.3s linear;
    width: 90vw;
    max-width: 35rem;
}

.contact-form h3 {
    padding-top: 1.25rem;
    color: #617d98;
}

.form-group {
    padding: 1rem 1.5rem;
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.75rem 1rem;
    border: none;
    margin-bottom: 1.25rem;
    background: #f1f5f8;
    border-radius: 0.25rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}

.submit-btn {
    display: block;
    width: 100%;
    padding: 1rem;
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}