.contact-page {
    display: grid;
    place-items: center;
    padding: 5rem 0;
}

.contact-form {
    background: #fff;
    border-radius: 0.25rem;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    transition:  all 0.3s linear;
    width: 90vw;
    max-width: 35rem;
}